 # Predicting Diabetes

In [1]:
from pathlib import Path
import pandas as pd

In [2]:
data = Path('emp_data_encoded.csv')
df = pd.read_csv(data)
df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department_IT,Department_RandD,...,Department_hr,Department_management,Department_marketing,Department_product_mng,Department_sales,Department_support,Department_technical,salary_high,salary_low,salary_medium
0,0.38,0.53,2,157,3,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
1,0.80,0.86,5,262,6,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,1
2,0.11,0.88,7,272,4,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,1
3,0.72,0.87,5,223,5,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
4,0.37,0.52,2,159,3,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

 ## Separate the Features (X) from the Target (y)

In [3]:
y = df["left"]
X = df.drop(columns="left")

 ## Split our data into training and testing

In [4]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    stratify=y)
X_train.shape

(11249, 20)

 ## Create a Logistic Regression Model

In [9]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs',
                                max_iter=500,
                                random_state=1)
classifier

LogisticRegression(max_iter=500, random_state=1)

 ## Fit (train) or model using the training data

In [10]:
classifier.fit(X_train, y_train)

LogisticRegression(max_iter=500, random_state=1)

 ## Score the model using the test data

In [11]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.7884256378344742
Testing Data Score: 0.7893333333333333

 ## Make predictions

In [12]:
predictions = classifier.predict(X_test)
results = pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)
results.head(20)

    Prediction  Actual
0            0       0
1            0       0
2            0       0
3            0       1
4            0       1
5            1       0
6            1       0
7            0       0
8            0       0
9            0       0
10           0       1
11           0       0
12           0       0
13           0       0
14           0       0
15           0       0
16           0       1
17           0       0
18           0       1
19           0       0