In [2]:
import numpy as np 
import pandas as pd 
import os
from pathlib import Path
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.naive_bayes import GaussianNB
from sklearn import svm
from statsmodels.graphics.mosaicplot import mosaic

In [11]:
file_path = Path("Clean_Job_Data.csv")
df = pd.read_csv(file_path, index_col = False)
df.head(10)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,7,1
1,0.80,0.86,5,262,6,0,1,0,7,2
2,0.11,0.88,7,272,4,0,1,0,7,2
3,0.72,0.87,5,223,5,0,1,0,7,1
4,0.37,0.52,2,159,3,0,1,0,7,1
5,0.41,0.50,2,153,3,0,1,0,7,1
6,0.10,0.77,6,247,4,0,1,0,7,1
7,0.92,0.85,5,259,5,0,1,0,7,1
8,0.89,1.00,5,224,5,0,1,0,7,1
9,0.42,0.53,2,142,3,0,1,0,7,1

#### Train Data

In [12]:
X = pd.get_dummies(df.drop('left', axis=1))
y = df[['left']]

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y['left'], 
                                                    random_state=1, 
                                                    stratify=y)

#### Scale Data

In [13]:
scaler = StandardScaler()

In [14]:
X_scaler = scaler.fit(X_train)

In [15]:
X_train = X_scaler.transform(X_train)
X_test = X_scaler.transform(X_test)

## Gaussian Naive Bayes

In [17]:
gnb =  GaussianNB()

In [18]:
gnb.fit(X_train, y_train)

GaussianNB()

In [56]:
predictions = gnb.predict(X_test)
results = pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)
results

      Prediction  Actual
0              0       0
1              0       0
2              0       0
3              0       1
4              1       1
...          ...     ...
3745           0       0
3746           0       0
3747           0       0
3748           0       0
3749           1       0

[3750 rows x 2 columns]

In [20]:
confusion_matrix(y_test, predictions)
target_names = ["Stay", "Leave"]
print(classification_report(y_test, predictions, target_names=target_names))

              precision    recall  f1-score   support

        Stay       0.90      0.84      0.87      2857
       Leave       0.57      0.71      0.63       893

    accuracy                           0.80      3750
   macro avg       0.74      0.77      0.75      3750
weighted avg       0.82      0.80      0.81      3750